<div id="service-section">
  <div class="container">
    <div class="theme-title">
      <h2>Nuestro servicio.</h2>
      <p>Entregamos información sobre la localización en tiempo real, del repartidor en conjunto con su pedido. </p>
    </div> <!-- /.theme-title -->

    <div class="row">          

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-content">
          <div class="icon-heading tran3s">
            <div class="icon tran3s"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
            <h6><a href="#" class="tran3s">Entorno Colaborativo</a></h6>
          </div>
          <p>Nuestro entorno colaborativo se establece entre la organización, el proveedor de servicios de tecnología y las agencias digitales para optimizar esfuerzos, el intercambio de recursos, la reutilización y las comunicaciones. </p>
        </div> <!-- /.single-service-content -->
      </div> <!-- /.col-lg -->

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-content">
          <div class="icon-heading tran3s">
            <div class="icon tran3s"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
            <h6><a href="#" class="tran3s">Digital Media</a></h6>
          </div>
          <p>Las estadísticas evidencian el impacto de las comunicaciones en los medios digitales de hoy. Lo que también es relevante es el hecho de que la cantidad de usuarios de dispositivos inteligentes, está aumentando rápidamente.</p>
        </div> <!-- /.single-service-content -->
      </div> <!-- /.col-lg -->

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="single-service-content">
          <div class="icon-heading tran3s">
            <div class="icon tran3s"><i class="fa fa-anchor" aria-hidden="true"></i></div>
            <h6><a href="#" class="tran3s">Geolocalización</a></h6>
          </div>
          <p>La geolocalización ayuda a identificar la ubicación geográfica real de los objetos, como dispositivos móviles o cualquier terminal conectada a Internet. De esta forma puedes ver tu pedido en tiempo real, y su movimiento. </p>
        </div> <!-- /.single-service-content -->
      </div> <!-- /.col-lg -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /#service-section -->
